server:
  port: 8999
  
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
      - id: user-services
        uri: lb://user-services
        predicates:
        - Path=/user/**
      - id: contact-services
        uri: lb://contact-service
        predicates:
        - Path=/contact/**
        
    
    
eureka:
  instance:
    hostname: localhost